.overlap{
    position: relative;
}
.geocoder-container{
    position: absolute;
    top: 0;
    right: 0;
    height:15vh;
    width: 20%;
    z-index: 1;
    background-color: paleturquoise;
    padding: 10px;
}
.geocoder-container-2{
    position: absolute;
    top: 15vh;
    right: 0;
    height:15vh;
    width: 20%;
    z-index: 0;
    background-color: palegreen;
    padding: 10px;
    margin-top: 10px;
}
.input-container{
    bottom:0;
}

.map-container {
    height: 95vh;
}
     
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
    }

