.overlap{
    position: relative;    
}
.background{
    position: absolute;
    width: 100%;
}
.icon{
    margin-left: -6vh;
    margin-top:5px;
    border:-5vh;
    position: absolute;
}
.geocoder-container{
    position: absolute;
    top: 4vh;
    left: 6vh;
    height:15vh;
    width: 20%;
    z-index: 3;
    padding: 10px;
}
.geocoder-container-2{
    position: absolute;
    top:12vh;
    left: 6vh;
    height:10vh;
    width: 20%;
    z-index: 2;
    padding: 10px 10px 0px 10px;
    margin-top: 10px;
}

.calculate{
    left: 20%;
    position: absolute;
    top: 50vh;
    /* left: 10%; */
    height:5vh;
    width: 100%;
    z-index: 1;
    /* padding: 10px; */
    margin-top: 10px;
}
.input-container{
    position: absolute;
    top: 0;
    left: 10px;
    background-color: lightgray;
    width: 45vh;
    border-radius: 20px;
    height:100%;
}

.map-container {
    height: 95vh;
}

     
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
    }

.mode-transport{
        text-align: center;
        position: absolute;
        /* top: 25vh; */
        /* left: 5%; */
        height:5vh;
        width: 45vh;
        z-index: 1;
        /* padding: 10px; */
        margin-top: 25vh;
        /* padding-right: 10vh; */
}
.vehicle{
    margin-left: 50%;
}
.elevation-mode{
    
    float:left;
    width:50%;
}

.ToggleButton{
    color: Blue;
  }
  
.slider{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:30px;
    position:absolute;
    left:5%;
    text-align: center;
    width: 90%;
}
.switch{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:46vh;
    position:absolute;
    left:5%;
    text-align: center;
    width: 90%;

}
.data{
    background-color: rgba(255, 255, 255, 0.5);
    margin-left:-10%;
    width: 70%;
    margin-top:6vh;
    padding: 10px;
    border-radius: 5px;
}
.data-header{
    font-family: 'Courier New', Courier, monospace;
}
.logo{
    margin-left: 5vh;
    margin-top: 80vh;
    position: absolute;
}